.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav1 {
  position: fixed;
  color: var(--title);
  display: inline-block;
  top: 5%;
  left: 20%;
  margin: 1rem;
  transform: rotate(-45deg);
  font-size: clamp(1rem, 2vw, 2rem);
  text-shadow: -1px -1px 0px var(--secondary), 1px 1px 0px var(--secondary),
    1px -1px 0px var(--secondary), -1px 1px 0px var(--secondary);
}
.nav2 {
  position: fixed;
  color: var(--tertiary);
  top: 5%;
  right: 20%;
  margin: 1rem;
  transform: rotate(45deg);
  font-size: clamp(1rem, 2vw, 2rem);
  text-shadow: -1px -1px 0px white, 1px 1px 0px white, 1px -1px 0px white,
    -1px 1px 0px white;
}
.nav3 {
  position: fixed;
  color: var(--secondary);
  top: 5%;
  left: 42.5%;
  margin: 1rem;
  transform: rotate(-15deg);
  font-size: clamp(1rem, 2vw, 2rem);
  text-shadow: -1px -1px 0px white, 1px 1px 0px white, 1px -1px 0px white,
    -1px 1px 0px white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar a {
  margin: 0.5rem;
  color: var(--title);
}
.title a {
  color: var(--title);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--title);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.mathBox {
  padding-right: 1.5rem;
  border-bottom: 4px solid var(--title);
}
.input {
  width: 100%;
  padding: 1rem;
  margin: 8px 0;
  text-align: center;
  display: inline-block;
  border: 1px solid var(--title);
  color: var(--title);
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 2rem);
  background-color: transparent;
}
.input:active,
.input:focus {
  outline: none;
  border: 3px solid var(--title);
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  appearance: textfield;
}
.card {
  padding: 1.5rem 4.5rem 1.5rem 0.5rem;
  text-align: right;
  color: var(--title);
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 200px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--title);
  border-color: var(--title);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.main h1 {
  margin: 2rem 0;
}
.assignments {
  margin-top: -40vh;
}
ul.homework {
list-style: none;
padding: 0;
margin: 0;
}
ul.homework :hover {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .nav1 {
    left: 10%;
  }
  .nav2 {
    right: 10%;
  }
}
